# Make a copy of this file and rename it to ".env" before changing variables.
# Never push your own ".env" file to the remote.
# API key for GenAI SDK Client:
GOOGLE_API_KEY=""
# Path to Firebase service account file:
GOOGLE_APPLICATION_CREDENTIALS=app/service-account-key.json
DATABASE_URL=postgresql://testuser:testpassword@db/testdb
#DATABASE_URL=postgresql://testuser:testpassword@localhost:5432/testdb